<app-header></app-header>

<main>
    <ul>
        <li>
            <app-tools [avitar]="allTools[0].avitar" [name]="allTools[0].name"/>
        </li>
        <li>
            <app-tools [avitar]="allTools[1].avitar" [name]="allTools[1].name"/>
        </li>
        <li>
            <app-tools [avitar]="allTools[2].avitar" [name]="allTools[2].name"/>
        </li>
        <li>
            <app-tools [avitar]="allTools[3].avitar" [name]="allTools[3].name"/>
        </li>
        <li>
            <app-tools [avitar]="allTools[4].avitar" [name]="allTools[4].name"/>
        </li>
    </ul>
    
</main>
